body {
    background-color: #f4f4f7;
}

.b-wrap {
    max-width: 1180px;
    margin: 0 auto;
}

.b-header {
    display: flex;
    background-color: transparent;
    width: 100%;
    padding: 40px 60px 0 40px;
    position: absolute;
    top: 0;
    min-height: 80px;
}

.b-logo {
    margin: 0 120px 0 0;
    transition: transform 0.3s linear;
}

.b-logo:hover {
    transform: scale(1.2);
}

.b-menu-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.b-menu-nav__item>a {
    display: block;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f4f4f7;
    padding: 10px 0;
    min-height: 40px;
}

.b-menu-nav__item {
    margin-right: 50px;
    height: 100%;
    flex-grow: 0;
}

.b-menu-nav__item--hidden-mobile {
    display: inline-block;
}

.b-menu-nav__item>a:hover {
    color: #63C9E0;
}

.b-menu-nav__item:last-child {
    margin-right: 0;
}

.b-language {
    flex-wrap: wrap;
    align-items: center;
    max-height: 40px;
    flex-shrink: 0;
    margin-right: -10px;
}

.b-language input[type="radio"] {
    display: none;
}

.b-language__label {
    cursor: pointer;
    transition: border 0.3s linear;
}

.b-language__label:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.b-language__label:nth-child(3n)~.b-language__label {
    margin-top: 20px;
}

.b-language__label:last-child,
.b-language__label:nth-child(3n) {
    margin-right: 0;
}

/**************************** MAIN *****************************************************************************************************************************************************/

.b-container {
    margin: 0 100px 0 200px;
}

.b-wrap-title {
    margin-bottom: 77px;
}

.b-wrap-title--h2 {
    margin-bottom: 85px;
}


.b-head-main {
    background-image: url("../images/content/head.jpg");
    max-width: 1180px;
    width: 100%;
    margin-bottom: 100px;
    object-fit: cover;
}

.b-head-main__wrap-title,
.b-services__wrap-title {
    padding-right: 150px;
}

.b-head-main--darkening::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.b-subtitle--padding-right {
    padding-right: 0;
}

.b-title--h2,
.b-subtitle--h2 {
    color: #2d2d42;
}

.b-title--services {
    color: #c0c6c8;
    margin-bottom: 75px;
}

.b-title--h2 {
    margin-bottom: 25px;
}

.b-title--h3 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
    padding: 0;
}

.b-subtitle--h2 {
    font-size: 30px;
}

.b-button {
    width: 580px;
    padding-left: 200px;
    transition: text-shadow 0.3s linear;
}

.b-button:hover {
    text-shadow: 0 0 2px #f4f4f7;
}

.b-button {
    position: relative;
    flex-shrink: 0;
}

.b-services__wrap-title {
    margin-bottom: 80px;
}

.b-aspects {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.b-aspects__figure {
    width: 240px;
    margin-right: 60px;
}

.b-aspects__img-description {
    align-items: flex-start;
}

.b-aspects__figure:nth-child(3n) {
    margin-right: 0;
}

.b-aspects__figure:nth-child(3n)~.b-aspects__figure {
    margin-top: 30px;
}

.b-aspects__figure:last-child {
    margin-right: 0;
}

.b-services__wrap-list {
    margin: 0px -30px;
    margin-left: -90px;
}

.b-list-services {
    max-width: 440px;
    padding-right: 0;
    margin: 0 30px;
}

.b-list-services__item {
    padding-left: 60px;
    max-width: 440px;
}


.b-list-services__item:not(:first-child):not(:nth-child(2)) {
    margin-bottom: 30px;
}

.b-list-services__item::before {
   left: 0;
}

.b-our-work {
    padding-top: 100px;
}

.b-card-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.b-card-work__item {
    width: 580px;
    margin-bottom: 70px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.b-card-work__item--big-card {
    width: 100%;
    flex-shrink: 0;
    height: 600px;
    margin-bottom: 20px;
}

.b-card-work__item--big-card>.b-card-work__wrap-img {
    width: 100%;
    height: 600px;
    margin-bottom: 0;
}

.b-card-work__item--big-card .b-card-work__description {
    left: 200px;
}

.b-card-work__item--big-card>.b-card-work__figcaption>.b-title--h3 {
    color: #f4f4f7;
    margin-bottom: 40px;
}

.b-card-work__item--big-card>.b-card-work__figcaption>.b-subtitle {
    padding: 0;
    color: #f4f4f7;
    display: inline-block;
    overflow: hidden;
    height: 240px;
}

.b-card-work__item+.b-card-work__item.b-card-work__item--big-card {
    margin-top: 30px;
}

.b-card-work__item.b-card-work__item--big-card+.b-card-work__item.b-card-work__item--big-card {
    margin-top: 30px;
}

.b-card-work__item:last-child {
    margin-bottom: 0;
}

.b-card-work__item>a:hover img {
    transform: scale(1.2);
}

.b-card-work__wrap-img {
    height: 320px;
    width: 580px;
}

.b-card-work__wrap-img img,
.b-slider__wrap-img img {
    transition: transform 0.3s linear;
}

.b-card-work__wrap-img--inside {
    padding-left: 200px;
}

.b-card-work__figcaption>.b-title--h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.b-card-work__figcaption>.b-subtitle {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: normal;
    color: #2d2d42;
    padding-right: 140px;
}

.b-card-work__description {
    background-color: #f4f4f7;
    padding-left: 0;
    padding-right: 140px;
    padding-bottom: 0;
}

.b-card-work__description--position {
    transform: translateX(400px);
}

.b-card-work__figcaption.b-card-work__figcaption--white-figcaption>.b-title--h3 {
    margin-bottom: 50px;
    color: #2d2d42;
}

.b-card-work__figcaption.b-card-work__figcaption--white-figcaption>.b-subtitle {
    color: #2d2d42;
    display: inline-block;
    overflow: hidden;
    height: 200px;
}

.b-inside {
    padding-top: 100px;
}

.b-inside__wrap-title {
    margin-bottom: 90px;
}

.b-news {
    padding: 0;
    margin-bottom: 82px;
}

.b-news>.b-title--h3 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.b-list-news {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.b-list-news__item {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin-right: 120px;
}

.b-list-news__item>a:hover {
    text-shadow: 0 0 3px #2d2d42;
}

.b-list-news__item:nth-child(3)~.b-list-news__item {
    margin-top: 20px;
}

.b-list-news__item:nth-child(3n),
.b-list-news__item:last-child {
    margin-right: 0;
}

.b-link-news,
.b-contacts-description,
.b-contacts-located,
.b-address {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2d2d42;
    margin-bottom: 20px;
}

.b-link-news__date {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: var(--cool-grey);
}

.b-contacts {
    display: inline-block;
}

.b-contacts-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

.b-contacts__map {
    top: 80px;
    left: 50px;
}

.b-contacts-wrap>.b-title--h2 {
    color: #f4f4f7;
    line-height: 65px;
    padding-right: 0;
    margin-bottom: 0;
    margin-right: 263px;
    max-width: 380px;
}

.b-social {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
}

.b-social__item {
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.b-social__item {
    transition: transform 0.3s linear;
}

.b-social__item:hover {
    transform: scale(1.2);
}

.b-social__item:nth-child(3n)~.b-social__item {
    margin-top: 20px;
}

.b-social__item:nth-child(3n) {
    margin-right: 0;
}

.b-social__item:last-child {
    margin-right: 0;
}

.b-social__item>a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.b-contacts-located {
    width: 380px;
    margin-right: auto;
    margin-bottom: 90px;
}

.b-contacts-located>p {
    color: #f4f4f7;
}

.b-contacts-adress {
    display: flex;
    flex-wrap: wrap;
}

.b-contacts__address {
    margin-left: -75px;
    margin-right: -75px;
}

.b-address {
    display: flex;
    flex-direction: column;
    margin-right: 118px;
    max-width: 380px;
    width: 100%;
    margin-bottom: 0;
    margin-left: 75px;
    margin-right: 75px;
}

.b-address:nth-child(2n)~.b-address {
    margin-top: 30px;
}

.b-address:last-child,
.b-address:nth-child(2n) {
    margin-right: 0;
}

.b-address__country {
    color: #f4f4f7;
    margin-bottom: 20px;
}

.b-address__capital-city,
.b-address__exact-address,
.b-address__mail,
.b-address__tel {
    color: #f4f4f7;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 25px;
    margin-right: 0;
}

.b-address__mail:hover {
    text-shadow: 0 0 3px #64cae1;
}

.b-address__tel:hover {
    text-shadow: 0 0 3px red;
}

.b-address__capital-city,
.b-address__exact-address,
.b-address__tel,
.b-contacts-located>p {
    opacity: 0.5;
}

.b-address__mail {
    color: #64cae1;
    align-self: end;
}

.b-address__tel {
    align-self: end;
}

.b-footer {
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.b-copyright {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #f4f4f7;
    text-align: left;
    vertical-align: middle;
    margin: auto 0;
    opacity: 0.5;
}

.b-wrap-logo__img-dark {
    display: none;
}

.b-nav__btn-menu,
#input-burgermenu,
.b-menu-nav--footer {
    display: none;
}

.b-contacts-wrap__located {
    width: 380px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #f4f4f7;
}

.b-contacts-wrap__title {
    margin-right: 160px;
}

.b-map__mark--norway {
    left: 420px;
}

.b-map__mark--belarus {
    left: 450px;
}

.b-position-down {
    margin-top: 30px;
}

.b-slider__slide {
    padding-left: 200px;
}

.b-slider__description {
    padding-left: 0;
    padding-right: 50px;
}

.b-slider__dots li,
.b-slider__dots li button {
    width: 65px;
}

.b-slider__dots li {
    margin-right: 9px;
}

.b-slider__dots {
    padding-left: 0;
    text-align: left;
}

.b-slider__wrap-img {
    width: 980px;
    margin-left: auto;
    overflow: hidden;
}

.b-slider__wrap-img:hover img {
    transform: scale(1.2);
}