* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-Light', sans-serif;
}

ul,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    font-family: 'object-fit:cover;';
}

picture {
    display: inline-block;
}

main {
    font-family: 'Roboto Light', sans-serif;
}

.b-container {
    margin: 0 30px;
    display: block;
    max-width: 100%;
}

.b-header {
    display: flex;
    padding: 30px 30px 0;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    position: absolute;
    width: 100%;
    min-height: 60px;
    font-family: 'Roboto-Light', sans-serif;
}

.b-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.b-nav,
.b-language {
    display: none;
}

.b-language {
    display: block;
    position: absolute;
    visibility: hidden;
    margin-bottom: -30px;
    transition: margin-bottom 0.3s linear;
}

.b-logo {
    display: inline-block;
    width: 140px;
    height: 30px;
    margin-right: 0;
}

.b-nav {
    display: inline-block;
    transition: width 0s linear,
                height 0s linear;
}

.b-menu-nav {
    display: block;
    position: absolute;
    visibility: hidden;
    transition: margin-top 0.5s ease-in-out;
}

.b-menu-nav__item--hidden-mobile {
    display: none;
}

.b-menu-nav--footer {
    margin-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.b-menu-nav--footer>.b-menu-nav__item,
.b-menu-nav--footer>.b-menu-nav__item>a {
    font-size: 15px;
    line-height: 40px;
    color: #f4f4f7;
    min-width: 130px;
    width: 100%;
    max-width: 140px;
    flex: 1 1;
}

#input-burgermenu {
    display: none;
}

.b-nav__btn-menu {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 4px 0 3px;
    position: relative;
}

.b-nav__btn-menu-line,
.b-nav__btn-menu-line::before,
.b-nav__btn-menu-line::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f4f4f7;
    left: 0;
    top: 10px;
    transition: transform 0.3s linear,
                top 0.3s linear,
                opacity 0.3s linear;
}

.b-nav__btn-menu-line::before {
    content: "";
    top: -6px;

}

.b-nav__btn-menu-line::after {
    content: "";
    top: 6px;
}

.b-head-main {
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #2d2d42;
}

.b-head-main__wrap-title {
    margin-bottom: 80px;
}

.b-wrap-title {
    color: #f4f4f7;
    margin-bottom: 80px;
}

.b-wrap-title>.b-title~.b-subtitle {
    padding-right: 10px;
}

.b-wrap-title--h2 {
    margin-bottom: 30px;
}

.b-title {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.31px;
    margin-bottom: 20px;
    color: #2d2d42;
}

.b-title--light {
    color: #f4f4f7;
}

.b-title--silver {
    color: #c0c6c8;
    margin-bottom: 30px;
}

.b-title--h2 {
    color: #2d2d42;
}

.b-title--h3 {
    color: #2d2d42;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.33px;
    text-transform: uppercase;
}

.b-subtitle>p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: normal;
    color: #2d2d42;
}

.b-subtitle--light>p {
    color: #f4f4f7;
}

.b-subtitle--h2>p {
    color: #2d2d42;
}

.b-subtitle--color-valhalla>p {
    color: #2d2d42;
}

.b-subtitle--slider-home {
    margin-bottom: 38px;
}

.b-button {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    min-height: 60px;
    width: 100%;
    background-color: #64cae1;
    text-decoration: none;
    color: #f4f4f7;
    letter-spacing: -0.5px;
}

.b-button:active {
    text-shadow: 0 0 4px #f4f4f7;
}

.b-button--transparent {
    background-color: transparent;
}

.b-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 30px;
    color: #f4f4f7;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.b-button__arrow {
    width: 20px;
    height: 20px;
    background-image: url("../images/svg-for-icon/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.b-services {
    padding-top: 30px;
    background-color: white;
}

.b-services__wrap-title {
    margin-bottom: 30px;
}

.b-aspects {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
}

.b-aspects__figure {
    display: flex;
    align-items: center;
    padding: 23px 0 27px;
    position: relative;
}

.b-aspects__figure:first-child::before,
.b-aspects__figure::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% + 60px);
    left: -30px;
    background-color: #c0c6c8;
    opacity: 0.2;
}

.b-aspects__figure:first-child::before {
    top: 0;
}

.b-aspects__figure::after {
    bottom: 0px;
}

.b-aspects__figure:first-child {
    border-top: #c0c6c8;
}


.b-aspects__wrap-img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #63c9e0;
    margin-right: 20px;
    top: 3px;
    padding: 9px 9px 8px;
}

.b-aspects__wrap-img>img,
.b-slider__link-description>img {
    object-fit: contain;
    font-family: 'object-fit: contain;';
}

.b-aspects__wrap-img--background-color-dusty-orange {
    background-color: #f47e3d;
}

.b-aspects__wrap-img--background-color-darkish-pink {
    background-color: #d04b9b;
}

.b-aspects__description {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.b-services__wrap-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.b-list-services__item {
    position: relative;
    padding-left: 40px;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 20px;
}

.b-list-services__item::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #64cae1;
    left: 0;
    top: 10px;
    width: 20px;
}

.b-our-work {
    background: linear-gradient(#f4f4f7 0, #f4f4f7 98%, white 98%, white 100%);
    padding-top: 30px;
    border-bottom: 1px solid #c0c6c8;

}

.b-our-work__wrap-title {
    margin-bottom: 30px;
}

.b-card-work__item {
    display: inline-block;
}

.b-card-work__item:nth-of-type(3)~.b-card-work__item:not(:last-of-type){
    display: none;
}

.b-card-work__item:last-of-type {
    margin-bottom: 0;
}

.b-card-work__wrap-img,
.b-slider__wrap-img{
    display: flex;
    height: calc(100vw - 120px);
}

.b-card-work__description {
    font-family: 'Roboto Light', sans-serif;
    padding: 30px;
    background-color: white;
}

.b-inside {
    padding-top: 30px;
}

.b-slider {
    margin-bottom: 57px;
    position: relative;
}

.b-slider__slide>a {
    display: inline-block;
}

.b-slider__description {
    padding: 30px;
    padding-bottom: 0;
}

.b-slider__link-description {
    display: block;
    height: 15px;
    width: 50px;
    margin: 0 auto;
}

.b-news {
    margin: 0 30px 30px;
}

.b-inside__wrap-title {
    margin-bottom: 30px;
}

.b-news__title {
    margin-bottom: 30px;
}

.b-list-news {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.b-link-news {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #2d2d42;
}

.b-link-news:active {
    text-shadow: 0 0 4px #2d2d42;
}

.b-list-news__item {
    display: flex;
    margin-bottom: 20px;
    flex-grow: 1;
    flex-direction: column;
}

.b-list-news__item:last-child {
    margin-bottom: 0;
}

.b-link-news__date {
    display: block;
    font-size: 13px;
    line-height: 1.54;
    color: #93a4a9;
}

.b-pre-footer {
    overflow: hidden;
    padding-top: 30px;
    background-color: #000;
    padding-bottom: 10px; 
}

.b-social {
    display: flex;
    justify-content: flex-start;
    order: 2;
}

.b-social__item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.b-social__wrap-icon {
    display: flex;
    width: 30px;
    height: 30px;
}

.b-social__item:last-child {
    margin-right: 0;
}

.b-contacts__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.b-contacts__description-located {
    display: inline-block;
    color: #f4f4f7;
    font-size: 15px;
    line-height: 20px;
    order: 1;
    margin-bottom: 20px;
}

.b-map {
    display: inline-block;
    width: 100vw;
    position: relative;
    left: -30px;
    height: 330px;
    background-image: url("../images/svg-for-icon/map.svg");
    background-size: 903px 330px;
    background-repeat: no-repeat;
    background-position-x: calc(50% - 39px);
}

.b-map__mark {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #d04b9b;
}

.b-map__mark--sizeL {
    width: 38px;
    height: 38px;
    background-color: #64cae1;
}

.b-map__mark--norway {
    top: 58px;
    left: calc(98px + ((100vw - 320px)/2));
}

.b-map__mark--belarus {
    top: 70px;
    left: calc(120px + ((100vw - 320px)/2));
}

.b-contacts__map {
    position: relative;
    width: 100vw;
    margin-left: -30px;
    background-position-x: calc(50% - 39px);
}

.b-contacts__address {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: -137px;
    position: relative;
}

.b-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding-right: 30px;
    flex: 1 1;
}

.b-address__country {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 20px;
    color: #f4f4f7;
    margin-bottom: 20px;
    line-height: 30px;
}

.b-address__capital-city,
.b-address__exact-address,
.b-address__tel,
.b-address__mail {
    color: #f4f4f7;
    font-size: 15px;
    line-height: 25px;
}

.b-address__mail {
    color: #64cae1;
}

.b-address__mail:active {
    text-shadow: 0 0 4px #64cae1;
}

.b-address__tel:active {
    text-shadow: 0 0 4px #f4f4f7;
}

.b-copyright {
    font-family: 'Roboto Light', sans-serif;
    padding: 20px 30px 30px;
    background-color: #2d2d42;
}

.b-copyright__years {
    font-size: 15px;
    color: #f4f4f7;
    line-height: 20px;
    opacity: 0.5;
}

.b-slider-arrow__next,
.b-slider-arrow__prev {
    display: flex;
    position: absolute;
    top: 0;
    left: 20px;
    width: 30px;
    height: 30px;
}

.b-slider-arrow__prev {
    transform: rotate(180deg);
}

.b-slider-arrow__next {
    left: calc(100vw - 50px);
}

.b-slider-arrow {
    display: flex;
    position: absolute;
    width: 0;
    bottom: 22px;
    left: 0;
    padding-left: 20px;
}

.js-prev.slick-disabled,
.js-next.slick-disabled {
    opacity: 0.2;
}

#input-burgermenu:checked+label.b-nav__btn-menu {
    margin-left: auto;
    padding: 0;
    margin-top: 6px;
}

#input-burgermenu:checked~.b-nav__btn-menu>.b-nav__btn-menu-line::before,
#input-burgermenu:checked~.b-nav__btn-menu>.b-nav__btn-menu-line {
    background-color: #2d2d42;
}

#input-burgermenu:checked~.b-nav__btn-menu>.b-nav__btn-menu-line {
    transform: rotate(45deg);
}

#input-burgermenu:checked~.b-nav__btn-menu>.b-nav__btn-menu-line::before{
    transform: rotate(-90deg);
    top: 0;
}

#input-burgermenu:checked~.b-nav__btn-menu>.b-nav__btn-menu-line::after {
    opacity: 0;
}

#input-burgermenu:checked~.b-menu-nav {
    display: block;
    margin-top: 70px;
    max-height: 280px;
    position: relative;
    visibility: visible;
}

#input-burgermenu:checked~.b-menu-nav>.b-menu-nav__item {
    margin-bottom: 20px;
}

.b-menu-nav__item {
    margin-right: 20px;
}

.b-menu-nav__item>a {
    font-size: 20px;
    line-height: 30px;
    color: #2d2d42;
}

.b-menu-nav__item>a:active,
.b-language__label:active {
    color: #63c9e0;
}

.b-nav.open {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 30px 30px 38px;
    z-index: 10;
}

.b-logo--dark {
    z-index: 99;
}

.b-logo__img-dark {
    display: none;
}

.b-logo--dark .b-logo__img-origin {
    display: none;
}

.b-logo--dark .b-logo__img-dark {
    display: block;
}

.b-logo__wrap-img {
    width: 100%;
    height: 100%;
}

.b-nav.open~.b-language {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-height: 40px;
    position: absolute;
    bottom: calc(-100vh + 100px);
    left: 30px;
    margin-bottom: 0;
    visibility: visible;
}

.b-language input[name="language"] {
    display: none;
}

.b-language__label {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #2d2d42;
    z-index: 10;
    cursor: pointer;
    margin-right: 14px;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(45, 45, 66, 0);

}

.b-language__label:last-child {
    margin-right: 0;
}

input[name="language"]:checked+.b-language__label {
    border: 1px solid rgba(45, 45, 66, 0.2);
}