main {
    background-color: #f4f4f7;
}

.b-container {
    margin-left: 100px;
    margin-right: 50px;
}

.b-header {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 0;
    justify-content: flex-start;
    z-index: 99;
}

.b-logo {
    width: 40px;
    height: 40px;
    margin-right: 60px;
    flex-shrink: 0;
}

.b-nav {
    flex-grow: 1;
    margin-left: -5px;
    margin-right: -5px
}

.b-nav__btn-menu {
    display: none;
}

.b-menu-nav {
    display: flex;
    align-items: center;;
    height: 100%;
    position: relative;
    visibility: visible;
    padding-right: 35px;
}

.b-menu-nav--footer {
    display: none;
}

.b-head-main{
    background-color: transparent;
    background-image: url("../images/content/head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
    padding-top: 172px;
    position: relative;
    z-index: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.b-head-main--darkening::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.b-head-main__wrap-title {
    margin-bottom: 78px;
}

.b-head-main__wrap-title,
.b-services__wrap-title,
.b-service__title-list-services,
.b-our-work__wrap-title,
.b-inside__wrap-title {
    padding-right: 50px;
}

.b-menu-nav__item {
    flex-grow: 1;
    white-space: nowrap;
    display: flex;
    margin-right: 0;
}

.b-menu-nav__item--hidden-mobile {
    display: none;
}

.b-menu-nav__item:last-child {
    margin-right: 0;
}

.b-menu-nav__item>a {
    font-size: 15px;
    line-height: 20px;
    color: #f4f4f7;
    padding: 10px 5px;
}

.b-language {
    display: flex;
    margin-left: auto;
    visibility: visible;
    position: relative;
    margin-bottom: 0;
}

.b-language__label {
    color: #f4f4f7;
    font-size: 15px;
    line-height: 20px;
}

input[name="language"]:checked+.b-language__label {
    border: 1px solid rgba(255, 255, 255, 0.2)
}

.b-title {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -0.75px;
    margin-bottom: 30px;
    color: #2d2d42;
}

.b-title--silver {
    color: #c0c6c8;
}

.b-title--h3 {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.73px;
}

.b-title--contacts {
    margin-bottom: 75px;
    margin-right: 100px;
    flex: 1 0 40%;
}

.b-subtitle>p {
    font-size: 30px;
    line-height: 40px;
    color: #2d2d42;
    font-family: 'Roboto-Light', sans-serif;
}

.b-subtitle--size-smaller-average>p {
    font-size: 20px;
    line-height: 30px;
}

.b-subtitle--slider-home {
    margin-bottom: 55px;
    height: 160px;
    overflow: hidden;
}

.b-head-main__subtitle>p {
    font-size: 20px;
    line-height: 30px;
}

.b-title--light,
.b-subtitle--light>p {
    color: #f4f4f7;
}

.b-subtitle--padding-right {
    padding-right: 100px;
}

.b-button {
    width: 49%;
    padding: 25px 50px 25px 100px;
    margin: auto 0 0 0;
    font-size: 20px;
    line-height: 30px;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    letter-spacing: normal;
    height: 80px;
}

.b-button--hidden-tablet-desctop {
    display: none;
}

.b-button__arrow {
    width: 30px;
    height: 30px;
}

.b-services {
    padding-top: 90px;
    padding-bottom: 88px;
}

.b-services__wrap-title {
    margin-bottom: 80px;
}

.b-service__title-list-services {
    margin-bottom: 75px;
}

.b-aspects {
    flex-direction: row;
    margin-bottom: 50px;
}

.b-aspects__figure {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    margin-right: 72px;
    margin-bottom: 20px;
}

.b-aspects__figure::before,
.b-aspects__figure::after,
.b-aspects__figure:first-child::before{
    content: none;
}

.b-aspects__figure:last-child {
    margin-right: 0;
}

.b-aspects__wrap-img {
    width: 90px;
    height: 90px;
    padding: 17px 17px 14px;
    margin-bottom: 35px;
    margin-right: 0;
}

.b-aspects__description {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    align-items: flex-start;
}

.b-services__wrap-list {
    flex-direction: row;
    margin: 0 -20px;
}

.b-list-services {
    margin-bottom: 0;
    max-width: 360px;
    margin: 0px 20px;
    width: 100%;
}

.b-list-services__item {
    font-family: 'Roboto-Light', sans-serif;
    color: #2d2d42;
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px;
    min-height: 40px;
}

.b-list-services__item::before {
    width: 30px;
    top: 15px;
}

.b-our-work {
    padding-top: 100px;
}

.b-our-work__wrap-title {
    margin-bottom: 85px;
}

.b-our-work__title {
    margin-bottom: 25px;
}

.b-card-work {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.b-card-work__item {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.b-card-work__item--big-card {
    width: 100%;
    flex-shrink: 0;
    height: 600px;
}

.b-card-work__item:nth-of-type(3)~.b-card-work__item:not(:last-of-type) {
    display: flex;
}

.b-card-work__wrap-img {
    height: calc(50vw - 170px);
    width: 50vw;
    overflow: hidden;
}

.b-card-work__description {
    flex-grow: 1;
    height: 100%;
    padding: 40px 50px 40px 40px;
}

.b-card-work__item--big-card .b-card-work__wrap-img{
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    flex-grow: 1;
}

.b-card-work__item--big-card .b-card-work__description {
    display: inline-block;
    position: absolute;
    width: 380px;
    height: 380px;
    background-color: #64cae1;
    padding: 40px;
    left: 110px;
    bottom: 20px;
}


.b-card-work__item--big-card>.b-card-work__description>.b-subtitle {
    height: 240px;
    overflow: hidden;
    transform: translateY(10px);
}

.b-card-work__item--big-card .b-card-work__description--background {
    background-color: #f4f4f7;
}

.b-card-work__description--position {
    transform: translateX(calc(380px + (100vw - 980px)));
}

.b-inside {
    padding-top: 100px;
}

.b-inside__wrap-title {
    margin-bottom: 85px;
}

.b-slider {
    margin-bottom: 80px;
}

.b-slider-arrow {
    display: none;
}

.b-slider__wrap {
    margin-bottom: 0;
}

.b-slider__dots{
    width: 400px;
    bottom: -12px;
    padding-left: 2px;
}

.b-slider__dots li {
    margin: 0;
    margin-right: 5px;
}

.b-slider__dots li,
.b-slider__dots li button {
    width: 60px;
    overflow: hidden;
}

.b-slider__dots li button::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #c0c6c8;
    opacity: 1;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.b-slider__dots li button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #2d2d42;
    opacity: 1;
    left: -100%;
    top: 50%;
    transform: translate(0, -50%);
    transition: left 0.4s linear;
}

.b-slider__dots li.slick-active button:after {
    left: 0;
}

.b-slider__slide {
    position: relative;
}

.b-slider__wrap-img {
    height: 600px;
    position: relative;
    bottom: 1px;
}

.b-slider__description {
    display: inline-block;
    position: absolute;
    padding: 40px;
    padding-bottom: 0;
    width: 400px;
    height: 380px;
    background-color: #f4f4f7;
    bottom: 0;
    left: 0;
}

.b-slider__title {
    max-height: 40px;
    overflow: hidden;
}

.b-slider__link-description {
    width: 50px;
    height: 25px;
    margin: 0;
    margin-right: auto;
}

.b-news {
    background-color: #f4f4f7;
    padding: 0 100px;
    margin: 0;
    margin-bottom: 78px;
}

.b-news__title {
    margin-bottom: 50px;
}

.b-link-news {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.b-link-news__date {
    font-size: 15px;
    line-height: 20px;
    font-family: 'Roboto-Light', sans-serif;
}

.b-list-news {
    column-gap: 0;
}

.b-list-news__item:last-child {
    margin-right: 0;
}

.b-list-news__item {
    margin-right: 50px;
    width: 100%;
    max-width: 200px;
    min-width: 150px;
    flex-grow: 0;
    flex: 1 1;
}

.b-pre-footer {
    padding-top: 100px;
    padding-bottom: 120px;
}

.b-contacts {
    position: relative;
    width: 100%;
}

.b-contacts__wrap {
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
    position: relative;
    margin-bottom: 72px;
}

.b-social {
    order: 0;
    padding-top: 20px;
    flex: 1 0 32%;
}

.b-contacts__description-located {
    font-size: 20px;
    line-height: 30px;
    width: 380px;
    font-family: 'Roboto-Light', sans-serif;
}

.b-map {
    position: absolute;
    top: 82px;
    left: 6%;
    height: 441px;
    margin-left: 0;
    background-position-x: 0;
    background-size: 903px 441px;
    z-index: 0;
}

.b-contacts-address {
    margin-top: 0;
}

.b-map__mark {
    width: 40px;
    height: 40px;
}

.b-map__mark--sizeL {
    width: 50px;
    height: 50px;
} 

.b-map__mark--norway {
    top: 76px;
    left: 420px;
}

.b-map__mark--belarus {
    top: 92px;
    left: 450px;
}

.b-contacts__address {
    margin-top: 0;
    margin-left: -82px;
    margin-right: -82px;
}

.b-address {
    padding-right: 0;
    font-family: 'Roboto-Light', sans-serif;
    margin: 0 82px;
    flex-grow: 1;
}

.b-address:last-child {
    margin-right: 0;
}

.b-footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
}

.b-button--footer {
    margin-right: 118px;
    flex-shrink: 0;
}

.b-copyright {
    width: 100%;
    padding: 25px 0;
    background-color: transparent;
}

.b-copyright__years {
    font-size: 20px;
    line-height: 30px;
}