@font-face {
    font-family: 'Roboto-Light';
    src: url(./fonts/Roboto-Light.eot);
    src: url(./fonts/Roboto-Light.eot?#iefix) format('embedded-opentype'),
         url(./fonts/Roboto-Light.woff) format('woff'),
         url(./fonts/Roboto-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}  
@font-face {
    font-family: 'Roboto-Black';
    src: url(./fonts/Roboto-Black.eot);
    src: url(./fonts/Roboto-Black.eot?#iefix) format('embedded-opentype'),
         url(./fonts/Roboto-Black.woff) format('woff'),
         url(./fonts/Roboto-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./fonts/Roboto-Bold.eot);
    src: url(./fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
         url(./fonts/Roboto-Bold.woff) format('woff'),
         url(./fonts/Roboto-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}